<footer>
    <hr my-2 />
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3>Fenice</h3>
            <p class="links">
                <a href="#">Job Seekers</a
                ><strong> · </strong
            ><a href="#">Recruiters</a
            ><strong> · </strong><a href="#">Pricing</a>
                <strong> · </strong
                ><a href="#">Terms of Service</a>
                <strong> · </strong
                ><a href="#">Privacy Policy</a>
            </p>
            <p class="company-name">
                sJob Network @ 2020<br /><small class="text-muted"
            >All rights reserved!</small
            ><br />
            </p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"></span>
                <p><span class="new-line-span">NRB</span>Nairobi, Kenya</p>
            </div>

            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">sjobnetwork@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p>
                sJob Network mission is to make hiring easier. We aim to save
                time for both job seekers and recruiters and to make the hiring
                process smoother. We continue to innovate and find new solutions to
                make hiring process simpler.
            </p>
            <div class="social-links social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a
                ><a href="#"><i class="fa fa-twitter"></i></a
            ><a href="https://www.linkedin.com/company/fenicenetwork/"
            ><i class="fa fa-linkedin"></i
            ></a>
            </div>
        </div>
    </div>
    <p class="text-center" style="font-size: 12px">
        <a href="https://www.freepik.com/vectors/"
        >Image vectors by - www.freepik.com</a
        >
    </p>
</footer>
