{% load static %} {% load pwa %}

{% if not rec_navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <img
                    src="https://dl.dropboxusercontent.com/s/vqp7i2tv6uvc1gs/logofenice.jfif?dl=0"
                    width="30"
                    height="30"
                    class="d-inline-block align-top mr-3"
                    alt=""
            /><b>sJob</b>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {{ home_page }}" href="#"
                >Job Search</a
                >
                <a
                        class="nav-item nav-link {{ profile_page }}"
                        href="#"
                >My Profile</a
                >
                <a
                        class="nav-item nav-link {{ intel_page }}"
                        href="#"
                >Get Relevant Jobs</a
                >
                <a
                        class="nav-item nav-link {{ account_page }}"
                        href="#"
                >My Account</a
                >
                {% if user.is_authenticated %}
                    <a
                            class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light"
                            href="#"
                    >Logout</a
                    >
                    <a class="nav-item nav-link" href="#"
                    >Recruiters/ Employers</a
                    >
                {% else %}
                    <a
                            class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
                            href="#"
                    >Login</a
                    >
                    <a class="nav-item nav-link" href="#"
                    >Recruiters/ Employers</a
                    >
                {% endif %}
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <img
                    src="https://dl.dropboxusercontent.com/s/vqp7i2tv6uvc1gs/logofenice.jfif?dl=0"
                    width="30"
                    height="30"
                    class="d-inline-block align-top mr-3"
                    alt=""
            /><b>sJob</b>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a
                        class="nav-item nav-link {{ rec_home_page }}"
                        href="#"
                >Home</a
                >
                <a
                        class="nav-item nav-link {{ add_job_page }}"
                        href="#"
                >Add Job Post</a
                >
                <a
                        class="nav-item nav-link {{ manage_jobs_page }}"
                        href="#"
                >Manage Your Job Posts</a
                >
                <a
                        class="nav-item nav-link {{ search_candidates_page }}"
                        href="#"
                >Seach Candidates</a
                >
                {% if user.is_authenticated %}
                    <a
                            class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light"
                            href="#"
                    >Logout</a
                    >
                {% else %}

                    <a
                            class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
                            href="#"
                    >Login</a
                    >
                {% endif %}
                <a class="nav-item nav-link" href="#"
                >Job Seekers/Candidates</a
                >
            </div>
        </div>
    </nav>
{% endif %}

